{% extends 'base.html' %}
{% block content %}

<div class="heading" style="background-color: #507dbca5; font-size: xx-large;">Room Code: {{code}}</div>

<div class="container">
    <div style="background-color: #507dbca5"></div>
    <div style="background-color: #507dbca5"></div>
    <div style="background-color: #507dbca5"></div>
    <div style="border-radius: 0px 10px 10px 0px;" class="element">
        <div class="heading" style="font-size: x-large;">Players</div>
        <div class="players" id="players">
            <!--nbsp Kavoya: egg <br>
            &nbsp Aditya: potato <br>
            &nbsp Aditya: hi <br>-->

        </div>
    </div>
    <div style="border-radius: 10px;" class="element">5</div>
    <div style="border-radius: 10px 0px 0px 10px;" class="element">
        <div class="heading" style="font-size: x-large;">Chat / Guess</div>
        <div class="msg-box">

            
            <div class="input-msg">

                <input name="message" id="message" class="input-chatroom" type="text" spellcheck="false" autocomplete="off" placeholder=" Message" maxlength="100" data-translate="placeholder" value="{{name}}">
                <!--<button name="send" id = "send-btn" onClick="sendMessage()" type="button" class="send-button">Send</button>-->
            </div>
            <div class="messages" id="messages">
                <!--&nbsp Kavoya: egg <br>
                &nbsp Aditya: potato <br>
                &nbsp Aditya: hi <br>-->

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let members = []
    var socketio = io()

    const messages = document.getElementById("messages");
    const players = document.getElementById("players");

    const create_message = (name, message, cause) => {

        if (cause == "player connect" || cause == "player disconnect") {
            if (cause == "player connect") {
                members.push(name)
                players.innerHTML = ""
                members.forEach(function(item) {players.innerHTML += `&nbsp ${item}<br>\n`;})
            }
            else {
                members.splice(members.indexOf(name), 1)
                players.innerHTML = ""
                members.forEach(function(item) {players.innerHTML += `&nbsp ${item}<br>\n`;})
            }
            
            messages.innerHTML += `&nbsp ${name} ${message}<br>\n`;
        }
        else {
            messages.innerHTML += `&nbsp ${name} ${message}<br>\n`; 
        }

 
    };

    socketio.on("message", (data) => {
        create_message(data.name, data.message, data.cause)
    })


    message_field = document.getElementById("message")
    message_field.onkeypress = function(e) {
        var keyCode = e.code || e.key;
        if (keyCode == 'Enter'){
            if (message_field.value == "") {return}
            socketio.emit("message", {data: message_field.value})
            
            message_field.value = "";
        }
    }


</script>

{% endblock %}