{% extends 'base.html' %}
{% block content %}

<div class="heading" style="background-color: #507dbca5; font-size: xx-large;">Room Code: {{code}}</div>

<div class="container">
    <div style="background-color: #507dbca5"></div>
    <div style="background-color: #507dbca5"></div>
    <div style="background-color: #507dbca5"></div>
    <div style="border-radius: 0px 10px 10px 0px;" class="element">
        <div class="heading" style="font-size: x-large;">Players</div>
        <div class="players" id="players">
            <!--nbsp Kavoya: egg <br>
            &nbsp Aditya: potato <br>
            &nbsp Aditya: hi <br>-->

        </div>
    </div>
    <div style="border-radius: 10px;" class="element">
        <canvas class="drawing-board"></canvas>
    </div>
    <div style="border-radius: 10px 0px 0px 10px;" class="element">
        <div class="heading" style="font-size: x-large;">Chat / Guess</div>
        <div class="msg-box">

            
            <div class="input-msg">

                <input name="message" id="message" class="input-chatroom" type="text" spellcheck="false" autocomplete="off" placeholder=" Message" maxlength="100" data-translate="placeholder" value="{{name}}">
                <!--<button name="send" id = "send-btn" onClick="sendMessage()" type="button" class="send-button">Send</button>-->
            </div>
            <div class="messages" id="messages">
                <!--Kavoya: egg <br>
                Aditya: potato <br>
                Aditya: hi <br>-->

            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='room.js') }}"></script>

{% endblock %}
